* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ffffff;
    color: #333;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    border-bottom: 1px solid #eee;
}
.logo img{
    height: 70px;
    width:170px;
}
.nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-links a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    position:relative;
    right:50px;
}

.nav-links i {
    font-size: 18px;
    cursor: pointer;
}

.nav-links a:hover {
    color: #32cd32; 
}
.page-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.page-name div span{
    background:#0f1d2d;
 padding: 10px 18px;
    color:white;
}
.controls {
    display: flex;
    align-items: center;
    gap: 20px;
}

.filter-btn {
    background: #0f1d2d;
    color: white;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
}

.show select {
    padding: 6px 10px;
}

.container {
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 5px;
    padding: 0 60px;
}
.sidebar {
   background: #eaf4fb;
    padding: 20px;
    position: relative; 
}
#scroll {
    height: 55%;
    width: 8px;
    position: absolute;
    top: 0;
    right: 4px;            
    background-color: rgb(187, 188, 190);
    border-radius: 5px;
}
#bar {
    position: absolute;
    top: 10px;
    left: 0;
    background-color: #7e7979;
    height: 100px;
    width: 8px;
    border-radius: 5px;
}
.mobile-category-icon {
    display: none;
}

.search-box {
    display: flex;
    background: white;
    padding: 8px;
    align-items: center;
    margin-bottom: 20px;
}

.search-box input {
    border: none;
    outline: none;
    width: 100%;
}

.category-list {
    list-style: none;
}

.category-list li {
    padding: 10px 0;
    color: #666;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    background: #eaf4fb;
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    text-align: center;
}

.img-box {
    height: 160px;
    background: #2ca0a0;
    margin-bottom: 10px;

}
.img-box img{
    height:160px;
    width:220px;
}
.card h4 {
    font-size: 14px;
    margin-bottom: 10px;
}

.card button {
    background: #0f1d2d;
    color: white;
    border: none;
    padding: 7px 14px;
}

.pagination {
    grid-column: 1 / -1;   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination span {
    padding: 8px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.pagination .active {
    background: #5bcac8;
    color: white;
}
.container-footer{
       background-color: #fff;
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-left {
    margin-top: 20px; 
}
.footer-left img{
    
    width:170px;
}
.footer-text p {
    font-size: 0.9rem;
    margin-bottom: 10px;
    line-height: 1.5;
}
.footer-center{
     margin-top: 20px; 
}

.footer-right{
     margin-top: 20px; 

}

.footer-right p {
    font-weight: 500;
    margin-bottom: 15px;
}
.app-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.app {
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app img{
    width: 100px;
}
.payment-icons {
   width: 300px;
    gap: 10px;
}
.pay {
    width: 60%;
}   
.pay img{
    width: 100%;
    height: 100%;
}

@media (max-width: 400px) {
   .nav-links {
        position: relative;
    }

    .nav-links a {
        display: none;
        position: absolute;
        top: 35px;
        background: #ffffff;
        width: 140px;
        padding: 10px;
        border: 1px solid #ddd;
        z-index: 999;
        right: 0;
    }

    .nav-links a:nth-child(1) { top: 35px; }
    .nav-links a:nth-child(2) { top: 75px; }
    .nav-links a:nth-child(3) { top: 115px; }
    .nav-links a:nth-child(4) { top: 155px; }

    .nav-links:hover a {
        display: block;
    }

    .nav-links i {
        font-size: 22px;
        cursor: pointer;
    }
   .container {
        display: flex !important;
        flex-direction: column; 
        gap: 10px;
        padding: 10px;
        background: #eaf4fb;
    }
    .sidebar {
        display: none !important;
    }

    .mobile-category-icon {
        display: inline-block;
        position: relative; 
        bottom:65px;
        left:50px;
        margin-bottom: 15px;
        cursor: pointer;
        font-size: 1.4rem;
        color: #0f1d2d;
        z-index: 1000;
    }
    .mobile-category-icon .mobile-dropdown {
        display: none;
        position: absolute;
        top: 35px;
        left: 0;
        width: 200px;
        background: #eaf4fb;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.2);
        z-index: 9999;
    }
    .mobile-category-icon:hover .mobile-dropdown {
        display: block;
    }
    .mobile-category-icon .mobile-dropdown li {
        padding: 5px 0;
        font-size: 0.85rem;
    }

    .mobile-category-icon .mobile-dropdown input {
        margin-right: 5px;
    }

    .products {
        display: flex;
        flex-direction: column;
        flex: 1; 
        gap: 25px;
        padding: 0;
    }

    .card {
        /* height:200px;
        width:200px; */
        
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;
        text-align: center;
        padding: 2px;
        gap: 4px;
        height:270px;
    }

    .img-box {
        width: 100%;
        height: 200px;
        margin-bottom: 6px;
    }

    .img-box img {
        width: 100%;
        height: 200px;
    }

    .card h4 {
        font-size: 1rem;
        margin-bottom: 4px;
    }

    .card button {
        padding: 5px 10px;
        font-size: 0.85rem;
    }

    .page-name {
        flex-direction: column;
        gap:20px;
        padding: 10px 15px;
    }
    .controls {
        flex-direction: column;
        gap: 5px;
    }

    .filter-btn {
        padding: 5px 10px;
        font-size: 0.85rem;
    }

    .show select {
        padding: 4px 6px;
        font-size: 0.8rem;
    }
    .pagination {
        justify-content: center;
        gap: 5px;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .pagination span {
        padding: 5px 8px;
        font-size: 0.85rem;
    }

    .container-footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px 15px;
    }

    .footer-left img {
        position: static;
        width: 140px;
        margin-bottom: 15px;
    }

    .footer-center,
    .footer-right {
        width: 100%;
    }

    .footer-text p {
        font-size: 0.85rem;
    }

    .app-box {
        justify-content: center;
    }

    .payment-icons {
        width: 100%;
    }

    .pay {
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width: 599px) {
    .container {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
    .products {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }
    #scroll {
        display: none;
    }
     .container-footer {
        flex-direction: column;
        text-align: center;
        padding: 40px 25px;
    }
    .footer-left img {
        position: static;
        width: 150px;
        margin-bottom: 20px;
    }
    .app-box {
        justify-content: center;
    }
    .pay {
        width: 70%;
        margin: auto;
    }
}

@media screen and (max-width: 799px) {
    .container {
        grid-template-columns: 220px 1fr;
        padding: 0 30px;
    }
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
    .nav-links a {
        right: 0;
    }
#scroll {
    height: 55%;
    width: 8px;
    position: absolute;
    top: 0;
    right: 4px;            
    background-color: rgb(187, 188, 190);
    border-radius: 5px;
}
#bar {
    position: absolute;
    top: 10px;
    left: 0;
    background-color: #7e7979;
    height: 100px;
    width: 8px;
    border-radius: 5px;
}
    
    .container-footer {
        justify-content: center;
        gap: 40px;
        padding: 40px 30px;
    }

    .footer-left img {
        position: static;
    }

    .footer-center,
    .footer-right {
        width: 45%;
    }

    .pay {
        width: 80%;
    }
}
@media screen and (min-width: 1200px) {

    .container {
        max-width: 1400px;
        margin: auto;
    }

    .products {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
     .container-footer {
        max-width: 1400px;
        margin: auto;
        padding: 60px;
    }

    .footer-left img {
        position: static;
    }
}
img.lazy {
    opacity: 0;
    filter: blur(5px);
}




.read-more-btn{
    display: inline-block;
    background-color: #1B2430;
    color: #fff;
    padding: 10px 20px;
    font-size: 0.9rem;
    border-radius: 2px;
    text-align: center;
    width: 50%;
    max-width: 150px;
    margin-top: 10px;
    text-decoration: none; /* important because it's <a> */
}

.read-more-btn:hover{
    background-color: #157115;
    color: #fff;
}