
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;    /* to include padding and border in element's total width and height */
}


/* to remove the underline from links */
a{
    text-decoration: none;
    color: #5a5a5a;

}


img{

    cursor: pointer;

}

.flex-div{
    display:flex; /* to make child elements in a row  */
    align-items: center;  /* to align child elements vertically center */

}


nav{

    padding: 10px 2%; /* 10px top and bottom , 2% left and right ( here percent is based on width of container e.g
    if the container is 1000px then 2% would pad from left and right 20px )*/

    justify-content: space-between; /* to give space between child elements  */

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* to give shadow effect ( the first two values show that it is disabled for both offset-x 
    offset-y....if we give a negative value then it causes a shadow to the left and bottom and vice versa..the third value is to see how 
    sharp the shadow gets..10px is blurred shadow radius and 0 is sharp */

    background: #fff; /* to give white background to navbar */

    position: sticky; /* to make the navbar stay at the top when we scroll down the page */
    top: 0;  /* for future proofing, as the position can be changed from static ahead */



    /* when we use position static then the element goes to the top of the page but when we scroll down it 
    scrolls away with the page so to avoid that we use position fixed...when we use static then top and left
    properties don't work but when we use fixed it works...fixed makes the element stay at the same position*/

    z-index: 10;

    /* the z-index property specifies the stack order of an element. An element with a greater stack order is always in front of an element with a lower stack order.
    Note: z-index only works on positioned elements (position:absolute, position:relative, or position:fixed)
    in ez words: if a div comes before another div and has a natural right to overlap it...we can still set the z-index to make the latter box overlap it
    e.g giving the first box an index of 1 and the second an index of 2 */



    /* Difference between position fixed and sticky:
    sticky is a hybrid of relative and fixed positioning. It behaves like relative until a defined scroll position is reached, then it becomes fixed.
    Fixed positioning stays fixed no matter what the case is...while sticky is fixed but is limited by the container that holds it
    In this case it is the body element that holds it so it will be fixed to the top of the body element
    */





}


.nav-right img{
    width: 25px; /* using pixel would not move the image when we resize as compared to % */
    margin-right: 25px;
}


 .nav-right .user-icon {
    border-radius: 50%; /* to make the image circular */
    width:35px;
    margin-right: 0px;
}


.nav-left .menu-icon{
    width:22px;
    margin-right: 25px;
}


.nav-left .logo{

    width:130px;

}


.nav-middle .mic-icon{
    width: 16px;

}

.nav-middle .search-box{

    border: 1px solid #ccc; 
    margin-right: 15px;
    padding:8px 12px;
    border-radius: 25px;
  
}


.nav-middle .search-box input{

    width:400px;
    border:0; /* to remove the default border of input box */
    outline:none; /* to remove the blue border that appears when we click on the input box */
    background: transparent; /* to make the background of input box transparent */

}


.nav-middle .search-box img{
    width:15px;
}





/* this is the sidebar section */

.sidebar{
    background: #fff;
    width: 15%;
    height:100vh; /* to make the sidebar take the full height of the page */
    position: fixed; /* to make the sidebar stay at the same position when we scroll down the page */
    padding-left: 2%; /* to give padding from left side */;
    padding-top: 20px;

    /* the reason for why we gave the padding left 2% is because the horizontal side is mostly adjusted by different screen sizes...but the vertical
    is fixed to be 20px so that the sidebar doesnt go to down */


}


.shortcut-links a img{

    width: 20px;
    margin-right: 20px; /* to give space between the image and the text */

}

.shortcut-links a{

    display:flex; /* to make the image and text in a row */
    align-items: center; /* to align the image and text vertically center */
    margin-bottom: 20px; /* to give space between the links */
    width: fit-content;

    /* Reason for "fit content": by default the anchor tag, div and p tag take up the full width of the container
    so to avoid that we use fit-content which makes the width of the element just enough to fit the content inside it
    e.g if i write <div>Hello</div> then that div will take up the whole screen width but if i write <div style="width:fit-content">Hello</div>
    then the div will take up just enough space to fit the content inside it (it would wrap around hello) */

    flex-wrap: wrap; /* to make the text go to the next line if it exceeds the width of the container */
    
    /* what is flex-wrap ? 
    flex-wrap: wrap enables the elements to wrap onto multiple lines, from top to bottom if necessary.
    flex-wrap: nowrap (default) keeps all elements on a single line, potentially causing overflow
    flex-wrap: wrap-reverse utilizes the upper line first when one line is done, elements will wrap onto multiple lines from bottom to top
    */



}