*{
    margin:0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing:border-box;
}

.container{
    width:100%;
    min-height:100vh;
    background: linear-gradient(135deg, #153677 , #4e085f);
    padding:10px;

}

/* the padding here is used so that the text doesnt stick to edges of the container */

/* the width stretches across the entire screen and min height is according to screen szie

/* background: linear-gradient(135deg, #153677, #4e085f) → gives a diagonal gradient background 
starting at 135°, transitioning from a dark navy-blue (#153677) to a deep purple (#4e085f). */



.to-do{
    width:100%; /* makes the div take the entire space of its parent */
    max-width: 540px;  /* dont let it go above this level, this is good for centering a box */
    margin: 100px auto 20px; /* auto centre horizontally */
    padding: 40px 30px 70px; /* this is the inner spacing */
    border-radius:10px; /* rounding the corners */
    background: #fff;
}


.to-do h2{
    color: #002765;
    display: flex;
    align-items:center ;
    margin-bottom:20px;

}


.to-do h2 img{
    width:30px;
    margin-left:10px;
}


.row{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
      margin-bottom: 25px;
}

input {
    
    flex:1;
    border:none;
    outline:none;
    background: transparent;
    padding: 10px;
    font-weight:14px;

}


button{
    border: none;
    outline:none;
    padding: 16px 50px;
    background: #ff5945;
    color:#fff;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position:relative;

}

ul li::before{
    content:'';
    position:absolute;
    height:28px;
    width:28px;
    border-radius:50%;
    background-image: url(images/unchecked.png);
    background-size:cover;
    background-position: center;
    top:12px;
    left:8px;


}

ul li.checked{
    color:#555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
    
}






